
:root {
    --font-family: "Roboto" ;
    --link-color: #212121;
    
}
body {
    background-color: #FFF;
    font-family: "Roboto", "Raleway" ,sans-serif;
    
}

.global-header { 
    background-color: #FFFFFF;
    
   
}


.global-header .main-navigation a:link, 
.global-header .main-navigation a:visited, {
    color: var(--link-color) ;
}


.global-header .main-navigation a:hover {
    color: #2196F3;
    text-decoration: none;
}


.title-button .button-request {
    background-color: #2196F3;
    color: #FFF;;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;

}

.first-section button:link,
.first-section button:visited {    
    background-color: #F5F4FA;
    color: var(--link-color);
    font-family: inherit;
    
}

.first-section button:hover {
    background-color: #2196F3;
    color:#FFF ;
}

.first-section .button-focus :hover,
.first-section .button-focus :focus {
    background-color: #2196F3;
    color: #FFF;
}
ul {
    list-style-type: none;
}

.main-navigation a:link
.main-navigation a:visited { 
    color: var(--link-color);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    line-height: normal;
    letter-spacing: 0.28px

}
 .nav-link, a {
    color: var(--link-color);
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-link-current {
    color: #2196F3;
}


.Web {
    color: #2196F3;
}
.Studio {
    color: #000;
}

.global-header a {
    text-decoration: none;
    
}

.Web, .Studio {
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    }







.title-button { 
    background-color: #2F303A;
   
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    }

  

    .contacts-header a {
        color: #757575;
    }

 .contacts-header > a.nav-link-current {
    color: #2196F3;
 }

 .first-section h2 {
    color: #212121;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 270px;
 }
 .first-section p {
    color: #757575;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    width: 270px;
    height: 75px;
    flex-shrink: 0;
 }

 .second-section h2 {
    color: #212121;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
 }

 .second-section span {
    color: #757575;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
    width: 322px;
 }

 .first-section button {
    color: color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px; ;
 }

 .about-us-section h2 { 
    color: #212121;
    text-align: center;
    font-family: inherit;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
 }

 .our-team {
    background-color: #F5F4FA;
 }

 .our-team h2 {
    color: #212121;
    text-align: center;
    font-family: inherit;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
 }

 .our-team h3 {
    color: #212121;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
 }

 .our-team p {
    color: #757575;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
 }

 .global-footer  {
    background-color: #2F303A;
   
 }

 .location-adress { 
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    width: 207px;
    height: 16px;
    flex-shrink: 0;
 }

 .Web-footer {
    color: #2196F3;
 }

 .Studio-footer {
    color: #FFF;
 }

 .Web-footer, .Studio-footer {
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    
 }

 .global-footer a{
    text-decoration: none;
 }


 .contact-section {
    color: rgba(255, 255, 255, 0.60);
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    width: 231px;
    height: 16px;
    flex-shrink: 0; 
    }
 




